@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-family: "Indie Flower", cursive;
  margin: 0;
  padding: 0;
  background-color: #dcdfd6;
  color: #333;
}

main {
  padding: 20px;
}

.meme-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.meme {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.meme img {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
